name: Publish

on:
  push:
    branches: [ "master" ]

jobs:

  release:
    if: github.event.commits[0].author.name != 'Nomie Release Bot'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{secrets.RELEASE_TOKEN}}
    - name: Use Node.js 16
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'npm'
    - run: npm ci
    - run: npm run vbuild
    - run: npm run generate-zip
    - id: clean_working_dir
      run: |
        git reset --hard
        release_zip=$(git ls-files --others --exclude-standard | grep "nomie6-oss.*.zip")
        cp $release_zip /tmp
        git clean -f
        echo "release_zip=/tmp/$(basename $release_zip)" >> $GITHUB_OUTPUT
    - run: npm run release:patch -- --ci --github.release --github.assets=${{steps.clean_working_dir.outputs.release_zip}}
      env:
        GIT_COMMITTER_NAME: Nomie Release Bot
        GIT_AUTHOR_NAME: Nomie Release Bot
        GITHUB_TOKEN: ${{ github.token }}

  publish:
    if: github.event.commits[0].author.name != 'Nomie Release Bot'
    runs-on: ubuntu-latest
    steps:
    - run: |
        curl -f -X POST \
          -H "Authorization: Bearer ${{secrets.RELEASE_TOKEN}}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/open-nomie/open-nomie.github.io/actions/workflows/publish.yml/dispatches \
          -d '{"ref": "master"}'
